################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/SDKs/bin
/SDKs/obj
/SDKs.Tests/obj
/SDKs.Tests/bin
/.vs
*.user
